In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
pd.set_option('display.max_columns', None)
%matplotlib inline

### Nivell 1

- Exercici 1

Realitza web scraping d'una pàgina de la borsa de Madrid (https://www.bolsamadrid.es) utilitzant BeautifulSoup i Selenium.

In [3]:
url = 'https://www.bolsamadrid.es'
html = requests.get(url)

In [4]:
soup = BeautifulSoup(html.content, 'html.parser')

+ anem a buscar els valors de les accions de les diferents companyies
+ posarem aquests valors en un dataFrame

In [5]:
# en primer lloc vaig a trobar tots els hyperlinks que tingin el string 'Acciones' 
links = []
for link in soup.find_all('a', string='Acciones'):
    links.append(link.get('href'))

In [6]:
links

['/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000',
 '/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000']

In [7]:
new_url = url+links[0]

In [8]:
html_acciones = requests.get(new_url)
soup_acciones = BeautifulSoup(html_acciones.content, 'html.parser')

In [9]:
# busco la taula de continguts amb el seguent id especific
tabla_acciones = soup_acciones.find(id='ctl00_Contenido_tblAcciones')

In [10]:
columnas=[]

for element in tabla_acciones.find_all("th"):    
    columnas.append(element.text)
    
print(columnas)

['Nombre', 'Últ.', '% Dif.', 'Máx.', 'Mín.', 'Volumen', 'Efectivo (miles €)', 'Fecha', 'Hora']

In [11]:
# guardo tots els valors en aquestas llista
resultados = []
for element in tabla_acciones.find_all("td"):
    resultados.append(element.text)

In [12]:
# creo un diccionari
datos = {}

In [13]:
# em salto cada 9 elements per tenir els mateix tipus de valors
for i in range(9):
    datos[columnas[i]]=resultados[i::9]

In [14]:
#converteixo el diccionari en un DataFrame
df = pd.DataFrame(datos)

In [15]:
# ja tinc la taula de les 35 companyias del IBEX
df.tail()

,Nombre,Últ.,% Dif.,Máx.,Mín.,Volumen,Efectivo (miles €),Fecha,Hora
30,REPSOL,"11,2140","-0,07","11,2800","11,1620",2.521.026,"28.293,62",11/06/2021,Cierre
31,SIEMENS GAME,"24,7400","1,06","24,7800","24,2300",920.834,"22.636,06",11/06/2021,Cierre
32,SOLARIA,"15,1350","2,68","15,4500","14,7500",940.500,"14.260,84",11/06/2021,Cierre
33,TELEFONICA,"4,0795","-0,46","4,1020","4,0390",8.669.982,"35.268,91",11/06/2021,Cierre
34,VISCOFAN,"57,9500","0,43","58,2500","57,5000",63.132,"3.650,35",11/06/2021,Cierre

+ anem a fer una cosa similar amb selenium

In [35]:
# obrim la pagina web a la url disitjada

from selenium.webdriver import Firefox
from selenium.webdriver.firefox.options import Options
opts = Options()
opts.set_headless()
assert opts.headless  # Operating in headless mode
#browser = Firefox(options=opts)
browser = Firefox(executable_path = '/home/vant/Descargas/geckodriver-v0.29.1-linux64/geckodriver')
url = 'https://www.bolsamadrid.es'
browser.get(url)

<ipython-input-35-a91e243008e7>:6: DeprecationWarning: use setter for headless property instead of set_headless
  opts.set_headless()

In [36]:
# busquem alla on tenim el text Acciones i cliquem
links = browser.find_elements_by_link_text('Acciones')
links[0].click()

In [47]:
# un cop a la nova finestra busquem els valors de la taula
table = browser.find_element_by_id('ctl00_Contenido_tblAcciones')

In [49]:
table.text

'Nombre Últ. % Dif. Máx. Mín. Volumen Efectivo (miles €) Fecha Hora\nACCIONA 131,3000 -0,53 132,0000 129,9000 99.891 13.076,78 11/06/2021 Cierre\nACERINOX 11,7000 2,09 11,7850 11,4700 1.263.717 14.751,67 11/06/2021 Cierre\nACS 25,4200 1,64 25,4300 25,0100 2.645.870 66.322,35 11/06/2021 Cierre\nAENA 140,4500 -0,57 142,8500 140,4500 157.205 22.116,04 11/06/2021 Cierre\nALMIRALL 14,9600 -0,33 15,1200 14,9300 250.595 3.759,52 11/06/2021 Cierre\nAMADEUS 65,7000 3,20 65,7600 63,4800 1.257.886 82.475,40 11/06/2021 Cierre\nARCELORMIT. 27,2700 1,77 27,7350 26,6800 570.032 15.576,31 11/06/2021 Cierre\nB.SANTANDER 3,4345 -0,33 3,4410 3,4050 26.009.851 89.143,62 11/06/2021 Cierre\nBA.SABADELL 0,6400 -0,56 0,6446 0,6354 18.093.277 11.573,09 11/06/2021 Cierre\nBANKINTER 4,4680 -0,22 4,4960 4,4190 1.459.363 6.510,12 11/06/2021 Cierre\nBBVA 5,2460 -0,51 5,2760 5,2240 8.086.048 43.790,37 11/06/2021 Cierre\nCAIXABANK 2,7690 -0,54 2,7730 2,7450 6.221.036 17.179,68 11/06/2021 Cierre\nCELLNEX 51,7800 1,65 51,8600 51,0600 924.156 47.777,42 11/06/2021 Cierre\nCIE AUTOMOT. 25,7200 3,13 25,8400 24,8600 144.225 3.672,71 11/06/2021 Cierre\nENAGAS 19,4950 -1,42 19,6400 19,2200 1.004.973 19.574,84 11/06/2021 Cierre\nENDESA 21,7400 0,18 21,8400 21,6900 1.041.482 22.650,23 11/06/2021 Cierre\nFERROVIAL 25,2600 1,20 25,4000 24,9500 714.307 18.058,65 11/06/2021 Cierre\nFLUIDRA 33,6000 1,36 34,2000 33,0500 286.396 9.660,42 11/06/2021 Cierre\nGRIFOLS CL.A 24,2800 8,54 25,9400 24,0000 2.928.337 71.392,08 11/06/2021 Cierre\nIAG 2,3670 0,98 2,3720 2,3200 6.394.247 15.074,90 11/06/2021 Cierre\nIBERDROLA 10,6950 1,47 10,7150 10,5750 8.643.745 92.242,84 11/06/2021 Cierre\nINDITEX 31,3200 0,77 31,7000 31,1400 3.897.513 122.301,82 11/06/2021 Cierre\nINDRA A 7,6550 1,12 7,7050 7,4900 1.118.101 8.539,41 11/06/2021 Cierre\nINM.COLONIAL 9,4550 -1,25 9,5500 9,4000 663.796 6.280,77 11/06/2021 Cierre\nMAPFRE 1,8400 0,74 1,8430 1,8105 2.553.713 4.673,86 11/06/2021 Cierre\nMELIA HOTELS 7,0900 2,01 7,1500 6,9620 734.462 5.181,08 11/06/2021 Cierre\nMERLIN 9,5020 0,06 9,5480 9,3060 807.299 7.653,79 11/06/2021 Cierre\nNATURGY 21,9000 0,55 21,9500 21,7500 560.760 12.276,76 11/06/2021 Cierre\nPHARMA MAR 77,2800 0,65 77,8400 75,9400 77.732 5.998,43 11/06/2021 Cierre\nR.E.C. 16,8900 -0,24 16,9400 16,8600 1.216.710 20.554,21 11/06/2021 Cierre\nREPSOL 11,2140 -0,07 11,2800 11,1620 2.521.026 28.293,62 11/06/2021 Cierre\nSIEMENS GAME 24,7400 1,06 24,7800 24,2300 920.834 22.636,06 11/06/2021 Cierre\nSOLARIA 15,1350 2,68 15,4500 14,7500 940.500 14.260,84 11/06/2021 Cierre\nTELEFONICA 4,0795 -0,46 4,1020 4,0390 8.669.982 35.268,91 11/06/2021 Cierre\nVISCOFAN 57,9500 0,43 58,2500 57,5000 63.132 3.650,35 11/06/2021 Cierre'

### Nivell 2

- Exercici 2

Documenta en un word el teu conjunt de dades generat amb la informació que tenen els diferents arxius de Kaggle.