In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
pd.set_option('display.max_columns', None)
%matplotlib inline

### Nivell 1

- Exercici 1

Realitza web scraping d'una p√†gina de la borsa de Madrid (https://www.bolsamadrid.es) utilitzant BeautifulSoup i Selenium.

In [3]:
url = 'https://www.bolsamadrid.es'
html = requests.get(url)

In [4]:
soup = BeautifulSoup(html.content, 'html.parser')

In [5]:
for tag in soup.find_all(True):
    print(tag.name)

html
head
meta
meta
meta
title
link
link
link
link
link
script
link
script
body
div
table
tr
td
div
ul
li
a
div
ul
li
a
li
a
li
a
li
a
img
tr
td
div
td
td
a
img
td
div
a
img
div
div
table
tr
td
div
a
div
div
br
form
input
div
span
a
span
div
td
td
div
tr
td
div
div
a
tr
td
script
div
div
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
div
div
div
a
div
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
a
div
div
div
a
div
div
a
div
div
a
script
td
div
div
div
div
div
a
div
img
div
a
div
img
div
a
div
img
div
a
div
img
div
a
div
img
div
a
div
img
div
a
div
img
div
a
div
img
div
a
div
img
div
div
div
a
div
img
div
a
div
img
div
a
div
img
div
div
a
div
div
div
a
div
div
div
a
div
div
div
a
div
div
div
a
div
div
div
a
div
div
div
a
div
div
div
a
div
div
div
a
div
div
div
a
div
div
div
a
div
div
div
a
div
div
div
div
div
a
div
img
div
a
div
img
div
a
div
img
div
a
div
img
div
a
div
img
div
div
div
div
span
a
div
div
a
div
img
div
a
div
img
div
a
div
img
div
a
div
img
div
a
div
img
div
div
a
div
img
div
a
div
img
div
a
div
img
div
div
table
tr
td
a
td
a
td
a
td
a
tr
td
a
td
a
td
a
td
a
div
div
div
a
div
a
div
a
div
div
a
div
a
div
a
div
script
table
tr
td
a
td
a
table
tr
th
th
th
th
th
th
tr
td
td
img
td
td
td
td
tr
td
td
img
td
td
td
td
tr
td
td
img
td
td
td
td
div
div
div
script
script
script
script
script
table
tr
td
a
div
td
a
br
td
a
br
td
a
div
table
tr
td
span
br
span
td
td
span
br
span
div
div
img
div
a
img
script
table
tr
td
a
td
a
table
tr
th
th
th
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
table
tr
th
th
th
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
div
script
table
tr
td
a
td
a
td
a
table
tr
th
th
span
tr
td
a
td
tr
td
a
td
tr
td
a
td
tr
td
a
td
tr
td
a
td
table
tr
th
th
th
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
table
tr
th
th
th
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
tr
td
a
td
td
div
div
div
a
script
div
div
h3
span
br
span
div
div
p
strong
p
strong
strong
p
div
tr
td
td
td
div
br
ul
li
a
img
li
a
img
li
a
img
li
a
img
td
td
tr
td
td
td
div
div
ul
li
a
li
a
li
a
li
a
li
a
li
a
li
a
div
form
select
option
option
option
option
option
option
option
option
option
option
option
option
option
option
option
option
option
option
option
option
div
div
a
div
td
td

+ anem a buscar els valors de les accions de les diferents companyies del IBEX35
+ posarem aquests valors en un dataFrame

In [6]:
# en primer lloc vaig a trobar tots els hyperlinks que tingin el string 'Acciones' 
links = []
for link in soup.find_all('a', string='Acciones'):
    links.append(link.get('href'))

In [7]:
links

['/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000',
 '/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000']

In [8]:
new_url = url+links[0]
new_url

'https://www.bolsamadrid.es/esp/aspx/Mercados/Precios.aspx?indice=ESI100000000'

In [9]:
html_acciones = requests.get(new_url)
soup_acciones = BeautifulSoup(html_acciones.content, 'html.parser')

In [10]:
# busco la taula de continguts amb el seguent id especific
tabla_acciones = soup_acciones.find(id='ctl00_Contenido_tblAcciones')

In [11]:
tabla_acciones.find_all('th')

[<th scope="col">Nombre</th>,
 <th scope="col">√ölt.</th>,
 <th scope="col">% Dif.</th>,
 <th scope="col">M√°x.</th>,
 <th scope="col">M√≠n.</th>,
 <th scope="col">Volumen</th>,
 <th scope="col">Efectivo (miles ‚Ç¨)</th>,
 <th scope="col">Fecha</th>,
 <th class="Ult" scope="col">Hora</th>]

In [12]:
columnas=[]

for element in tabla_acciones.find_all("th"):    
    columnas.append(element.get_text())
    
print(columnas)

['Nombre', '√ölt.', '% Dif.', 'M√°x.', 'M√≠n.', 'Volumen', 'Efectivo (miles ‚Ç¨)', 'Fecha', 'Hora']

In [13]:
# guardo tots els valors en aquestas llista
resultados = []
for element in tabla_acciones.find_all("td"):
    resultados.append(element.text)

In [14]:
# creo un diccionari
datos = {}

In [15]:
# em salto cada 9 elements per tenir els mateix tipus de valors
for i in range(9):
    datos[columnas[i]]=resultados[i::9]

In [16]:
#converteixo el diccionari en un DataFrame
df = pd.DataFrame(datos)

In [17]:
# ja tinc la taula de les 35 companyias del IBEX
df

,Nombre,√ölt.,% Dif.,M√°x.,M√≠n.,Volumen,Efectivo (miles ‚Ç¨),Fecha,Hora
0,ACCIONA,"135,7000","3,35","136,2000","131,7000",116.363,"15.656,34",14/06/2021,Cierre
1,ACERINOX,"11,6700","-0,26","11,8500","11,6700",567.980,"6.658,85",14/06/2021,Cierre
2,ACS,"25,5700","0,59","25,8300","25,5000",1.445.997,"36.991,83",14/06/2021,Cierre
3,AENA,"143,1000","1,89","143,1000","140,5000",118.328,"16.891,45",14/06/2021,Cierre
4,ALMIRALL,"14,8700","-0,60","15,0600","14,8200",196.648,"2.927,87",14/06/2021,Cierre
5,AMADEUS,"65,5000","-0,30","66,3800","65,2600",855.817,"56.118,56",14/06/2021,Cierre
6,ARCELORMIT.,"26,9350","-1,23","27,6300","26,9350",316.010,"8.593,06",14/06/2021,Cierre
7,B.SANTANDER,"3,4375","0,09","3,4675","3,4160",38.788.194,"133.361,07",14/06/2021,Cierre
8,BA.SABADELL,"0,6404","0,06","0,6470","0,6360",17.116.266,"10.978,94",14/06/2021,Cierre
9,BANKINTER,"4,5100","0,94","4,5240","4,4790",1.917.939,"8.646,52",14/06/2021,Cierre
10,BBVA,"5,3430","1,85","5,3430","5,2580",17.337.872,"92.234,84",14/06/2021,Cierre
11,CAIXABANK,"2,8040","1,26","2,8150","2,7690",7.315.603,"20.472,23",14/06/2021,Cierre
12,CELLNEX,"52,2000","0,81","52,5400","51,8400",945.595,"49.117,05",14/06/2021,Cierre
13,CIE AUTOMOT.,"25,9400","0,86","26,0000","25,7800",150.817,"3.907,20",14/06/2021,Cierre
14,ENAGAS,"19,7500","1,31","19,9200","19,5650",1.219.295,"24.111,26",14/06/2021,Cierre
15,ENDESA,"22,2900","2,53","22,3000","21,8700",1.256.890,"27.936,66",14/06/2021,Cierre
16,FERROVIAL,"25,3400","0,32","25,4500","25,1300",755.671,"19.125,22",14/06/2021,Cierre
17,FLUIDRA,"34,1500","1,64","34,5500","33,7000",339.564,"11.554,03",14/06/2021,Cierre
18,GRIFOLS CL.A,"23,5400","-3,05","24,5900","23,5400",1.280.571,"30.478,88",14/06/2021,Cierre
19,IAG,"2,2770","-3,80","2,3660","2,2710",26.593.746,"61.147,45",14/06/2021,Cierre
20,IBERDROLA,"10,8200","1,17","10,8500","10,7150",16.634.516,"178.875,74",14/06/2021,Cierre
21,INDITEX,"31,7900","1,50","31,9100","31,4100",2.082.904,"66.112,61",14/06/2021,Cierre
22,INDRA A,"7,8050","1,96","7,8200","7,7000",889.321,"6.915,61",14/06/2021,Cierre
23,INM.COLONIAL,"9,5050","0,53","9,5050","9,4050",586.131,"5.553,96",14/06/2021,Cierre
24,MAPFRE,"1,8550","0,82","1,8600","1,8405",2.951.248,"5.471,68",14/06/2021,Cierre
25,MELIA HOTELS,"7,0520","-0,54","7,1340","7,0160",614.985,"4.342,26",14/06/2021,Cierre
26,MERLIN,"9,5720","0,74","9,6400","9,5100",354.284,"3.387,87",14/06/2021,Cierre
27,NATURGY,"21,8600","-0,18","21,9500","21,7800",434.328,"9.493,75",14/06/2021,Cierre
28,PHARMA MAR,"77,5000","0,28","78,2600","76,8200",59.479,"4.617,84",14/06/2021,Cierre
29,R.E.C.,"17,0900","1,18","17,1100","16,9150",3.144.770,"53.452,14",14/06/2021,Cierre
30,REPSOL,"11,4720","2,30","11,5000","11,2200",12.001.594,"123.056,47",14/06/2021,Cierre
31,SIEMENS GAME,"25,9300","4,81","26,0500","24,8000",1.134.774,"29.278,78",14/06/2021,Cierre
32,SOLARIA,"15,8950","5,02","15,9950","15,2400",1.119.577,"17.614,40",14/06/2021,Cierre
33,TELEFONICA,"4,1120","0,80","4,1485","4,0800",9.077.868,"37.002,96",14/06/2021,Cierre
34,VISCOFAN,"57,7000","-0,43","58,1500","57,5000",54.864,"3.164,92",14/06/2021,Cierre

In [18]:
df.to_csv('Acciones_hoy_ibex.csv')
# save data to csv

+ anem a fer una cosa similar amb selenium

In [19]:
# obrim la pagina web a la url disitjada

from selenium.webdriver import Firefox
from selenium.webdriver.firefox.options import Options
opts = Options()
opts.set_headless()
assert opts.headless  # Operating in headless mode
#browser = Firefox(options=opts)
browser = Firefox(executable_path = '/home/vant/Descargas/geckodriver-v0.29.1-linux64/geckodriver')
url = 'https://www.bolsamadrid.es'
browser.get(url)

<ipython-input-19-a91e243008e7>:6: DeprecationWarning: use setter for headless property instead of set_headless
  opts.set_headless()

In [20]:
# busquem el link on tenim el string "Acciones" i cliquem
links = browser.find_elements_by_link_text('Acciones')
links[0].click()

In [21]:
# un cop a la nova finestra busquem els valors de la taula
table = browser.find_element_by_id('ctl00_Contenido_tblAcciones')

In [22]:
columnas=[]

for element in table.find_elements_by_tag_name("th"):    
    columnas.append(element.text)
    
print(columnas)

['Nombre', '√ölt.', '% Dif.', 'M√°x.', 'M√≠n.', 'Volumen', 'Efectivo (miles ‚Ç¨)', 'Fecha', 'Hora']

In [23]:
# guardo tots els valors en aquestas llista
resultados = []
for element in table.find_elements_by_tag_name("td"):
    resultados.append(element.text)

In [24]:
# em salto cada 9 elements per tenir els mateix tipus de valors
datos = {}
for i in range(9):
    datos[columnas[i]]=resultados[i::9]

pd.DataFrame(datos)

,Nombre,√ölt.,% Dif.,M√°x.,M√≠n.,Volumen,Efectivo (miles ‚Ç¨),Fecha,Hora
0,ACCIONA,"135,7000","3,35","136,2000","131,7000",116.363,"15.656,34",14/06/2021,Cierre
1,ACERINOX,"11,6700","-0,26","11,8500","11,6700",567.980,"6.658,85",14/06/2021,Cierre
2,ACS,"25,5700","0,59","25,8300","25,5000",1.445.997,"36.991,83",14/06/2021,Cierre
3,AENA,"143,1000","1,89","143,1000","140,5000",118.328,"16.891,45",14/06/2021,Cierre
4,ALMIRALL,"14,8700","-0,60","15,0600","14,8200",196.648,"2.927,87",14/06/2021,Cierre
5,AMADEUS,"65,5000","-0,30","66,3800","65,2600",855.817,"56.118,56",14/06/2021,Cierre
6,ARCELORMIT.,"26,9350","-1,23","27,6300","26,9350",316.010,"8.593,06",14/06/2021,Cierre
7,B.SANTANDER,"3,4375","0,09","3,4675","3,4160",38.788.194,"133.361,07",14/06/2021,Cierre
8,BA.SABADELL,"0,6404","0,06","0,6470","0,6360",17.116.266,"10.978,94",14/06/2021,Cierre
9,BANKINTER,"4,5100","0,94","4,5240","4,4790",1.917.939,"8.646,52",14/06/2021,Cierre
10,BBVA,"5,3430","1,85","5,3430","5,2580",17.337.872,"92.234,84",14/06/2021,Cierre
11,CAIXABANK,"2,8040","1,26","2,8150","2,7690",7.315.603,"20.472,23",14/06/2021,Cierre
12,CELLNEX,"52,2000","0,81","52,5400","51,8400",945.595,"49.117,05",14/06/2021,Cierre
13,CIE AUTOMOT.,"25,9400","0,86","26,0000","25,7800",150.817,"3.907,20",14/06/2021,Cierre
14,ENAGAS,"19,7500","1,31","19,9200","19,5650",1.219.295,"24.111,26",14/06/2021,Cierre
15,ENDESA,"22,2900","2,53","22,3000","21,8700",1.256.890,"27.936,66",14/06/2021,Cierre
16,FERROVIAL,"25,3400","0,32","25,4500","25,1300",755.671,"19.125,22",14/06/2021,Cierre
17,FLUIDRA,"34,1500","1,64","34,5500","33,7000",339.564,"11.554,03",14/06/2021,Cierre
18,GRIFOLS CL.A,"23,5400","-3,05","24,5900","23,5400",1.280.571,"30.478,88",14/06/2021,Cierre
19,IAG,"2,2770","-3,80","2,3660","2,2710",26.593.746,"61.147,45",14/06/2021,Cierre
20,IBERDROLA,"10,8200","1,17","10,8500","10,7150",16.634.516,"178.875,74",14/06/2021,Cierre
21,INDITEX,"31,7900","1,50","31,9100","31,4100",2.082.904,"66.112,61",14/06/2021,Cierre
22,INDRA A,"7,8050","1,96","7,8200","7,7000",889.321,"6.915,61",14/06/2021,Cierre
23,INM.COLONIAL,"9,5050","0,53","9,5050","9,4050",586.131,"5.553,96",14/06/2021,Cierre
24,MAPFRE,"1,8550","0,82","1,8600","1,8405",2.951.248,"5.471,68",14/06/2021,Cierre
25,MELIA HOTELS,"7,0520","-0,54","7,1340","7,0160",614.985,"4.342,26",14/06/2021,Cierre
26,MERLIN,"9,5720","0,74","9,6400","9,5100",354.284,"3.387,87",14/06/2021,Cierre
27,NATURGY,"21,8600","-0,18","21,9500","21,7800",434.328,"9.493,75",14/06/2021,Cierre
28,PHARMA MAR,"77,5000","0,28","78,2600","76,8200",59.479,"4.617,84",14/06/2021,Cierre
29,R.E.C.,"17,0900","1,18","17,1100","16,9150",3.144.770,"53.452,14",14/06/2021,Cierre
30,REPSOL,"11,4720","2,30","11,5000","11,2200",12.001.594,"123.056,47",14/06/2021,Cierre
31,SIEMENS GAME,"25,9300","4,81","26,0500","24,8000",1.134.774,"29.278,78",14/06/2021,Cierre
32,SOLARIA,"15,8950","5,02","15,9950","15,2400",1.119.577,"17.614,40",14/06/2021,Cierre
33,TELEFONICA,"4,1120","0,80","4,1485","4,0800",9.077.868,"37.002,96",14/06/2021,Cierre
34,VISCOFAN,"57,7000","-0,43","58,1500","57,5000",54.864,"3.164,92",14/06/2021,Cierre

In [25]:
df.to_csv('Acciones_hoy_ibex_v2.csv')
# save data to csv

In [26]:
browser.close()

### Nivell 2

- Exercici 2

Documenta en un word el teu conjunt de dades generat amb la informaci√≥ que tenen els diferents arxius de Kaggle.

In [27]:
#la informacio de text es pot trobar al word adjunt

In [127]:
df =pd.read_csv('Acciones_hoy_ibex_v2.csv',index_col='Nombre')
df.drop('Unnamed: 0',axis=1,inplace=True)

In [128]:
df.head()

,√ölt.,% Dif.,M√°x.,M√≠n.,Volumen,Efectivo (miles ‚Ç¨),Fecha,Hora
Nombre,,,,,,,,
ACCIONA,"135,7000","3,35","136,2000","131,7000",116.363,"15.656,34",14/06/2021,Cierre
ACERINOX,"11,6700","-0,26","11,8500","11,6700",567.980,"6.658,85",14/06/2021,Cierre
ACS,"25,5700","0,59","25,8300","25,5000",1.445.997,"36.991,83",14/06/2021,Cierre
AENA,"143,1000","1,89","143,1000","140,5000",118.328,"16.891,45",14/06/2021,Cierre
ALMIRALL,"14,8700","-0,60","15,0600","14,8200",196.648,"2.927,87",14/06/2021,Cierre

In [129]:
df['√ölt.'] =df['√ölt.'].str.replace(',','.').astype(float)
df['% Dif.'] =df['% Dif.'].str.replace(',','.').astype(float)
df['M√°x.'] =df['M√°x.'].str.replace(',','.').astype(float)
df['M√≠n.'] =df['M√≠n.'].str.replace(',','.').astype(float)
df['Efectivo (miles ‚Ç¨)'] =df['Efectivo (miles ‚Ç¨)'].str.replace('.','').str.replace(',','.').astype(float)

In [130]:
df.head()

,√ölt.,% Dif.,M√°x.,M√≠n.,Volumen,Efectivo (miles ‚Ç¨),Fecha,Hora
Nombre,,,,,,,,
ACCIONA,135.70,3.35,136.20,131.70,116.363,15656.34,14/06/2021,Cierre
ACERINOX,11.67,-0.26,11.85,11.67,567.980,6658.85,14/06/2021,Cierre
ACS,25.57,0.59,25.83,25.50,1.445.997,36991.83,14/06/2021,Cierre
AENA,143.10,1.89,143.10,140.50,118.328,16891.45,14/06/2021,Cierre
ALMIRALL,14.87,-0.60,15.06,14.82,196.648,2927.87,14/06/2021,Cierre

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, ACCIONA to VISCOFAN
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   √ölt.                35 non-null     float64
 1   % Dif.              35 non-null     float64
 2   M√°x.                35 non-null     float64
 3   M√≠n.                35 non-null     float64
 4   Volumen             35 non-null     object
 5   Efectivo (miles ‚Ç¨)  35 non-null     float64
 6   Fecha               35 non-null     object
 7   Hora                35 non-null     object
dtypes: float64(5), object(3)
memory usage: 2.5+ KB

### Nivell 3


- Exercici 3

Tria una p√°gina web que tu vulguis i realitza web scraping mitjan√ßant la llibreria Scrapy.

In [29]:
import scrapy

In [30]:
url ='https://www.elperiodico.com/es/'